body {
    background-color: lemonchiffon;
}

.cat{
  width: 250px;
  height: auto;
  float: left;
}

h1{
 color: navy;
 text-align: center;
 font-size: 40px;
}

p{
  margin-left: 10px;
  text-align: right;
}